
.findus-wrapper{
    width: 80%;
    display: block;
    margin: auto;
    padding-bottom: 3rem;
}
.findus{
    margin: 3rem 0;
    font-family: cinzel-decorative;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.location{
    font-family: timeless;
    font-size: 1.3rem;
}

.digital-contact{
    font-family: timeless;
}
.digital-contact h2 {
    font-family: cinzel-decorative;
    font-size: 2rem;
    font-weight: bold;
    margin: 1.3rem 0;
}

.digital-contact h2 ul li {
    margin: 1.1rem 0;
}